body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:12px;
  width:1098px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:52px;
  width:1017px;
  height:557px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:557px;
}
#u3 {
  position:absolute;
  left:2px;
  top:270px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:50px;
  width:1017px;
  height:50px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:1013px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:57px;
  width:100px;
  height:36px;
  font-size:20px;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:85px;
  top:65px;
  width:25px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:70px;
  top:110px;
  width:980px;
  height:480px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:480px;
}
#u11 {
  position:absolute;
  left:2px;
  top:232px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:110px;
  width:985px;
  height:485px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u14 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:48px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u16 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:96px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u18 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:144px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u20 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:192px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u22 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:240px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u24 {
  position:absolute;
  left:60px;
  top:10px;
  width:918px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:288px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u26 {
  position:absolute;
  left:60px;
  top:16px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:336px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u28 {
  position:absolute;
  left:60px;
  top:16px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:384px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u30 {
  position:absolute;
  left:60px;
  top:16px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:432px;
  width:980px;
  height:48px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:48px;
}
#u32 {
  position:absolute;
  left:60px;
  top:16px;
  width:918px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:88px;
  top:218px;
  width:35px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:100px;
  top:154px;
  width:920px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u36 {
  position:absolute;
  left:100px;
  top:201px;
  width:920px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u37 {
  position:absolute;
  left:100px;
  top:249px;
  width:920px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u38 {
  position:absolute;
  left:100px;
  top:297px;
  width:920px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u39 {
  position:absolute;
  left:100px;
  top:345px;
  width:920px;
  height:10px;
}
#u39_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u39_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
