body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:12px;
  width:1098px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:52px;
  width:1017px;
  height:557px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:557px;
}
#u3 {
  position:absolute;
  left:2px;
  top:270px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:52px;
  top:50px;
  width:1017px;
  height:50px;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:13px;
  width:1013px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:57px;
  width:100px;
  height:36px;
  font-size:20px;
  text-align:right;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:85px;
  top:65px;
  width:25px;
  height:19px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:54px;
  top:100px;
  width:1014px;
  height:510px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:510px;
}
#u11 {
  position:absolute;
  left:2px;
  top:247px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:926px;
  top:57px;
  width:124px;
  height:36px;
  font-size:22px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:36px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:85px;
  top:123px;
  width:955px;
  height:457px;
  opacity:0.3;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:955px;
  height:457px;
}
#u15 {
  position:absolute;
  left:2px;
  top:220px;
  width:951px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:140px;
  top:160px;
  width:850px;
  height:60px;
  font-size:20px;
  text-align:left;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:60px;
}
#u17 {
  position:absolute;
  left:20px;
  top:18px;
  width:828px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:140px;
  top:240px;
  width:850px;
  height:60px;
  font-size:20px;
  text-align:left;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:60px;
}
#u19 {
  position:absolute;
  left:20px;
  top:18px;
  width:828px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:140px;
  top:322px;
  width:850px;
  height:60px;
  font-size:20px;
  text-align:left;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:60px;
}
#u21 {
  position:absolute;
  left:20px;
  top:18px;
  width:828px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:140px;
  top:470px;
  width:850px;
  height:56px;
  font-size:24px;
  color:#FF0000;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:56px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  word-wrap:break-word;
}
