body {
  margin:0px;
  background-image:none;
  touch-action:none;
  position:static;
  left:auto;
  width:1110px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:12px;
  top:12px;
  width:1098px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:52px;
  top:52px;
  width:1017px;
  height:557px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:557px;
}
#u3 {
  position:absolute;
  left:2px;
  top:270px;
  width:1013px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:90px;
  top:115px;
  width:940px;
  height:472px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:946px;
  height:478px;
}
#u5 {
  position:absolute;
  left:2px;
  top:228px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:116px;
  width:940px;
  height:55px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:55px;
}
#u7 {
  position:absolute;
  left:2px;
  top:20px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:560px;
  top:121px;
  width:170px;
  height:44px;
  font-size:18px;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:44px;
}
#u8_img.selected {
}
#u8.selected {
}
#u9 {
  position:absolute;
  left:20px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:400px;
  top:121px;
  width:160px;
  height:44px;
  font-size:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:44px;
}
#u10_img.selected {
}
#u10.selected {
}
#u10_img.disabled {
}
#u10.disabled {
}
#u11 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:171px;
  width:945px;
  height:421px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
  font-size:20px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u14 {
  position:absolute;
  left:20px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:118px;
  top:0px;
  width:500px;
  height:40px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u16 {
  position:absolute;
  left:20px;
  top:12px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:618px;
  top:0px;
  width:309px;
  height:40px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u18 {
  position:absolute;
  left:20px;
  top:12px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:927px;
  top:0px;
  width:13px;
  height:40px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:40px;
}
#u20 {
  position:absolute;
  left:20px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:40px;
  width:118px;
  height:40px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:40px;
}
#u22 {
  position:absolute;
  left:20px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:118px;
  top:40px;
  width:500px;
  height:40px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:40px;
}
#u24 {
  position:absolute;
  left:20px;
  top:12px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:618px;
  top:40px;
  width:309px;
  height:40px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:40px;
}
#u26 {
  position:absolute;
  left:20px;
  top:12px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:927px;
  top:40px;
  width:13px;
  height:40px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:40px;
}
#u28 {
  position:absolute;
  left:20px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:80px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u30 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:118px;
  top:80px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u32 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:618px;
  top:80px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u34 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:927px;
  top:80px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u36 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:128px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u38 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:118px;
  top:128px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u40 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:618px;
  top:128px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u42 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:927px;
  top:128px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u44 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:0px;
  top:176px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u46 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:118px;
  top:176px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u48 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:618px;
  top:176px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u50 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:927px;
  top:176px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u52 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:224px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u54 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:118px;
  top:224px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u56 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:618px;
  top:224px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u58 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:927px;
  top:224px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u60 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:0px;
  top:272px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u62 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:118px;
  top:272px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u64 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:618px;
  top:272px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u66 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:927px;
  top:272px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u68 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:320px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u70 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:118px;
  top:320px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u72 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:618px;
  top:320px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u74 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:927px;
  top:320px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u76 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:0px;
  top:368px;
  width:118px;
  height:48px;
  font-size:20px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:48px;
}
#u78 {
  position:absolute;
  left:20px;
  top:16px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:118px;
  top:368px;
  width:500px;
  height:48px;
  font-size:20px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:48px;
}
#u80 {
  position:absolute;
  left:20px;
  top:16px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:618px;
  top:368px;
  width:309px;
  height:48px;
  font-size:20px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:48px;
}
#u82 {
  position:absolute;
  left:20px;
  top:16px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:927px;
  top:368px;
  width:13px;
  height:48px;
  font-size:20px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:48px;
}
#u84 {
  position:absolute;
  left:20px;
  top:16px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:527px;
  top:131px;
  width:22px;
  height:22px;
  opacity:0;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u85_img.selected {
}
#u85.selected {
  opacity:1;
}
#u86 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:690px;
  top:131px;
  width:22px;
  height:22px;
  opacity:0;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u87_img.selected {
}
#u87.selected {
  opacity:1;
}
#u88 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:52px;
  top:50px;
  width:1017px;
  height:50px;
  font-size:20px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1017px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:13px;
  width:1013px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:70px;
  top:57px;
  width:100px;
  height:36px;
  font-size:20px;
  text-align:right;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:933px;
  top:56px;
  width:100px;
  height:36px;
  font-size:22px;
  color:#FFFFFF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u94 {
  position:absolute;
  left:2px;
  top:5px;
  width:96px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:785px;
  top:56px;
  width:127px;
  height:36px;
  font-size:22px;
  color:#F2F2F2;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:36px;
}
#u96 {
  position:absolute;
  left:2px;
  top:5px;
  width:123px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:110px;
  top:206px;
  width:920px;
  height:10px;
}
#u97_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u97_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u98 {
  position:absolute;
  left:110px;
  top:246px;
  width:920px;
  height:10px;
}
#u98_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u98_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u99 {
  position:absolute;
  left:110px;
  top:295px;
  width:920px;
  height:10px;
}
#u99_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u99_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u100 {
  position:absolute;
  left:113px;
  top:342px;
  width:920px;
  height:10px;
}
#u100_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u100_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u101 {
  position:absolute;
  left:113px;
  top:389px;
  width:920px;
  height:10px;
}
#u101_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u101_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u102 {
  position:absolute;
  left:110px;
  top:438px;
  width:920px;
  height:10px;
}
#u102_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u102_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u103 {
  position:absolute;
  left:110px;
  top:486px;
  width:920px;
  height:10px;
}
#u103_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u103_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u104 {
  position:absolute;
  left:110px;
  top:534px;
  width:920px;
  height:10px;
}
#u104_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u104_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u105 {
  position:absolute;
  left:85px;
  top:65px;
  width:25px;
  height:19px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:19px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:990px;
  top:181px;
  width:22px;
  height:22px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u108 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:990px;
  top:268px;
  width:22px;
  height:22px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u110 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:550px;
  top:396px;
  width:76px;
  height:50px;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
}
#u112 {
  position:absolute;
  left:0px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:990px;
  top:507px;
  width:22px;
  height:22px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u114 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:990px;
  top:410px;
  width:22px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u116 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:90px;
  top:171px;
  width:945px;
  height:421px;
}
#u118 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:40px;
  font-size:20px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:40px;
}
#u118_img.mouseDown {
}
#u118.mouseDown {
}
#u119 {
  position:absolute;
  left:20px;
  top:8px;
  width:910px;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:0px;
  top:40px;
  width:940px;
  height:40px;
  font-size:20px;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:40px;
}
#u120_img.mouseDown {
}
#u120.mouseDown {
}
#u121 {
  position:absolute;
  left:20px;
  top:8px;
  width:910px;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:0px;
  top:80px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u122_img.mouseDown {
}
#u122.mouseDown {
}
#u123 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:128px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u124_img.mouseDown {
}
#u124.mouseDown {
}
#u125 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:0px;
  top:176px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u126_img.mouseDown {
}
#u126.mouseDown {
}
#u127 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:0px;
  top:224px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u128_img.mouseDown {
}
#u128.mouseDown {
}
#u129 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:0px;
  top:272px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u130_img.mouseDown {
}
#u130.mouseDown {
}
#u131 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:0px;
  top:320px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u132_img.mouseDown {
}
#u132.mouseDown {
}
#u133 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u134 {
  position:absolute;
  left:0px;
  top:368px;
  width:940px;
  height:48px;
  font-size:20px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:48px;
}
#u134_img.mouseDown {
}
#u134.mouseDown {
}
#u135 {
  position:absolute;
  left:20px;
  top:12px;
  width:910px;
  word-wrap:break-word;
}
#u136 {
  position:absolute;
  left:990px;
  top:555px;
  width:22px;
  height:22px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u137 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:52px;
  top:99px;
  width:1016px;
  height:510px;
  opacity:0.6;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1016px;
  height:510px;
}
#u139 {
  position:absolute;
  left:2px;
  top:247px;
  width:1012px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:286px;
  top:216px;
  width:548px;
  height:246px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:246px;
}
#u141 {
  position:absolute;
  left:2px;
  top:115px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:308px;
  top:249px;
  width:502px;
  height:178px;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:178px;
}
#u143 {
  position:absolute;
  left:2px;
  top:81px;
  width:498px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144 {
  position:absolute;
  left:286px;
  top:210px;
  width:50px;
  height:10px;
}
#u144_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u144_line {
  position:absolute;
  left:0px;
  top:3px;
  width:50px;
  height:4px;
}
#u145 {
  position:absolute;
  left:282px;
  top:214px;
  width:10px;
  height:59px;
}
#u145_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u145_end {
  position:absolute;
  left:-5px;
  top:42px;
  width:20px;
  height:18px;
}
#u145_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:59px;
}
#u146 {
  position:absolute;
  left:804px;
  top:430px;
  width:59px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u146_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u146_line {
  position:absolute;
  left:0px;
  top:3px;
  width:59px;
  height:4px;
}
#u147 {
  position:absolute;
  left:804px;
  top:437px;
  width:10px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u147_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u147_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u147_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:50px;
}
#u148 {
  position:absolute;
  left:804px;
  top:241px;
  width:59px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u148_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u148_line {
  position:absolute;
  left:0px;
  top:3px;
  width:59px;
  height:4px;
}
#u149 {
  position:absolute;
  left:804px;
  top:192px;
  width:10px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u149_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u149_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u149_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:50px;
}
#u150 {
  position:absolute;
  left:258px;
  top:432px;
  width:59px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u150_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_end {
  position:absolute;
  left:42px;
  top:-5px;
  width:18px;
  height:20px;
}
#u150_line {
  position:absolute;
  left:0px;
  top:3px;
  width:59px;
  height:4px;
}
#u151 {
  position:absolute;
  left:308px;
  top:437px;
  width:10px;
  height:50px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u151_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u151_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u151_line {
  position:absolute;
  left:3px;
  top:0px;
  width:5px;
  height:50px;
}
